.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  flex: 1;
  background-color:#181818;
  backdrop-filter: blur(5px);
  position: relative;

  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 90px;

    .search-title {
      font-size: 28px;
      color: white;
      font-weight: 600;
      margin-left: 50px;
    }

    .search-bar {
      margin: 0;
      padding-right: 55px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }

    .search-input {
      background-color: white;
      width: 450px;
      height: 35px;
      padding: 5px 10px;
      border-radius: 10px 0px 0px 10px;
      outline: none;
    }

    .search-button {
      background-color: white;
      width: 50px;
      height: 35px;
      border-radius: 0px 10px 10px 0px;
      outline: none;
      img {
        width: 17px;
        height: 17px;
        margin: 0 auto;
      }
    }

    .add-button {
      background-color: white;
      font-weight: 600;
      border-radius: 10px;
      width: 20%;
      padding: 5px 10px;
      margin-left: 0px;
      margin-right: 52px;
      outline: none;
    }
  }

  .cards {
    background-color: #181818;
    backdrop-filter: blur(5px);
    padding: 22px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .scroll {
      color: white;
      font-size: 35px;
      margin: 40px;
      outline: none;
    }

    .disabled {
      visibility: hidden;
      cursor: unset;
    }

    .card {
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      margin: 20px;
      width: 20%;
      height: 630px; // ⬅️ aumentei a altura total do card
      transition: transform 0.2s;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: white;

      &:hover {
        transform: scale(1.03);
      }

      .photo {
        width: 100%;
        height: 400px; 
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .card-content {
        text-align: center;
        cursor: pointer;
        margin-top: 20px;
        height: auto;

        h2 {
          font-size: 21px;
          font-weight: 600;
          min-height: 70px; 
          display: flex;
          align-items: center;
          justify-content: center;
        }

        p {
          margin-top: 10px;
          height: 160px;      
          max-height: 160px;
          overflow-y: auto;
          text-align: left;
          font-size: 15px;
          line-height: 1.3;
        }
      }
    }
  }
}
